.profile-header {
  height: 400px;
  width: 100%;
  background-color: #ffb38a;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}

.profile-header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header div h2 {
  color: rgb(255, 243, 243);
}
