nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0
}

nav span {
  font-family: "Bungee", "sans-serif";
}



div.nav-compose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

div.nav-compose:hover {
  cursor: pointer;
}

div.nav-compose i {
  text-align: center;
  color: rgb(207, 43, 43);
}