#new-tweet {
  /* border: solid rgba(122, 122, 122, 0.26) 1px; */
  width: 90%;
  margin: auto;
  padding: 0.5em;
  display: none;
}

.err-msg {
  background-color: rgba(206, 161, 161, 0.685);
  border: rgb(221, 50, 50) solid 2px;
  color: rgb(221, 50, 50);
  border-radius: 3px;
  padding: 4px 10px;
  display: none;
}

.compose {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

#tweet-text {
  margin: auto;
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: black solid 4px;
  outline: none;
  resize: none;
}

.container-tweet-details {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
}

.btn {
  background-color: #4056A1;
  color: whitesmoke;
}

.btn:hover {
  background-color: #2e3f77;
  cursor: pointer;
}

.counter {
  justify-self: flex-end;
}

.negative-count {
  color: red;
}